
<h2><%= @question_group.name %></h2>
<hr/>

<%= form_for([@question_group, @answer_group_builder]) do |f| %>
  <%- @answer_group_builder.answers.each do |answer| %>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %><br>
      <%= render_answer_form_helper(answer, answer_form) %><br>
    <% end %>
  <% end %>
  <br>
  
  <%= f.submit '결과 저장',:class => "btn btn-primary" %>
  <a href="/" class="btn btn-default" role="button">뒤로 가기</a>
  
<% end %>
