<h2> <%= @question_group.name %> </h2>
<hr/>

<div class="container">

  <%= form_for [@question_group, question] do |f| %>
    <%- unless question.errors.empty? %>
      <ul>
        <%- question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    
    <div class="form-horizontal">
    <h4><strong>질문 설정</strong></h4>
    <%= f.label :"유형" %>
    <%= f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {}, id: "question_type",:style => "width:250px;" %><br>
    
    <%= f.label :"질문" %>
    <%= f.text_field :question_text,:style => "width:250px;" %><br>
    
    <%= f.label :"답변" %>
    <%= f.text_area :answer_options, rows: 5, :style => "width:250px;", placeholder:"답변은 엔터로 구분해주세요.\nex) 1호선\n     2호선\n     3호선" %><br>
    <hr/> 
    <h4><strong>답변 옵션</strong></h4>

    <%= f.label :"필수 답변 지정", :style => "width:110px;" %>
    <%= f.check_box :answer_presence %><br>
    <%= f.label :"최소 길이 설정", :style => "width:110px;" %>
    <%= f.text_field :answer_minimum_length %><br>
    <%= f.label :"최대 길이 설정", :style => "width:110px;" %>
    <%= f.text_field :answer_maximum_length %><br>
    <%= f.label :"최소값 설정 ", :style => "width:110px;" %>
    <%= f.text_field :answer_greater_than_or_equal_to %><br>
    <%= f.label :"최대값 설정 ", :style => "width:110px;" %>
    <%= f.text_field :answer_less_than_or_equal_to %><br>
    <%= f.submit '등록하기',:class => "btn btn-primary", :style => "margin-top:10px; width:140px; height:30px;" %>
    
    
  <% end %>
  <a href="/" class="btn btn-default" role="button" style="margin-top:10px; width:140px; height:30px;">뒤로 가기</a>
  </div>
</div>