<div class="container" style=" width:400px;">
<h2>비밀번호를 잊으셨나요?</h2>
<div style="width:300px; margin-top:30px; margin-left:10px;">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true , :style => "width:100%; font-size: 18px;"%>
  </div>

  <div class="actions">
    <%= f.submit "비밀번호 재설정 이메일 보내기",:class => "btn btn-primary buttons", :style => "margin-top:20px; width:100%;" %>
  </div>
<% end %>
<%= link_to "<button class='btn btn-primary btn buttons' style='margin-top:5px; width:100%;'>품앗이 메인으로 돌아가기</button>".html_safe, unauthenticated_root_path(resource_name) %><br />
  </div> 
</div>