<h3><%= question_group.new_record? ? "새 설문 등록" : "기존 설문 수정" %></h3>


<%= form_for question_group do |f| %>
  <%- if question_group.errors.any? %>
    <ul>
      <%- question_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="input-field col s6">
    <%= f.text_field :name, :style => "width:250px; margin-bottom:10px;" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :writer, :value => current_user.username %>
  </div>
 
  
  <%= f.submit '등록하기',:class => "btn btn-primary", :style => "margin-right:5px; width:120px; height:30px;" %>
  <a href="/" class="btn btn-default" role="button" style="width:120px; height:30px;">뒤로 가기</a>

 
<% end %>




