
  <% if can_administer? %>
      <th><%= question_group.id%></th>
      <% if current_user.id == question_group.user_id %>
        <th><%= link_to question_group.name, question_group_questions_path(question_group)   %></th>
      
      <% end %>
      <th><%= question_group.writer %></th>
      <th><%= question_group.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d %H:%M") %></th>
      <th>
        <ul class="horizontal-list">
           <% if current_user.id == question_group.user_id %>
            <% if can_administer? %>
            <li><%= link_to "Results", [:results, question_group] %></li>
            <li><%= link_to "Delete", [question_group], method: :delete %></li>
          <% end %>
          <% else %>
          <li><%= link_to "Answer Questions", new_question_group_answer_group_path(question_group) %></li>
          </ul>
          <% end %>
    </th>
      
    <% else %>
      <%= question_group.name %>
      
    <% end %>
