
  <div class="col-sm-4 col-md-2 user_tab">
  <% if user_signed_in? %>
    <div align="right">
      <table>
        <tr> <td>이름 : <%= current_user.username %> </td></tr>
        <tr> <td> 이메일 :  <%= current_user.email %> </td></tr>
        <tr> <td> 포인트 : <%= current_user.point %> </td></tr>
        <tr> <td> 설문 : <%= current_user.postnum %>회 등록  |   
       <%= current_user.submitnum %>회 참여 </td></tr>
      </table>

      <br>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
             내가 등록한 설문 <span class="caret"></span>
          </button>
         <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <% if @my_question_groups.empty? %> 
            <li>설문이 없습니다!</li>
          <% else %>
            <% @my_question_groups.each do |p| %>
              <li><a href="/rapidfire/question_groups/<%= p.id %>/results"><%= p.name %></a> </li>
     	      <% end %>
     	    <% end %>
     		 </ul> 
    </div>
  <% end %>
  </div>
</div>

<div class="col-xs-12 col-md-10">
    <table class="survey_list">
     
    <colgroup>
    <col width="15%">
    <col width="63%">
    <col width="22%">
    </colgroup> 
   
    <tbody>
      <% @posts.each do |question_group| %>
        <% if can_administer? %>
        <tr>
          <td style="text-align:center"><%= question_group.id%></td>
        
          <td>
          <span class="survey_name"><%= question_group.name%>
            <% if current_user.id == question_group.user_id %>
              <% if can_administer? %>
                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, question_group_questions_path(question_group), :class => 'survey-icon' %>
                
                <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [question_group], method: :delete, :class => 'survey-icon' %>
              <% end %>
            <% end %>  
          </span><br>
          <p class="survey_info">
            <span><%= question_group.writer %></span>
            <span><i class="fa fa-calendar" aria-hidden="true"></i><%= question_group.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d %H:%M") %></span>
          </p>
          </td>
          
          <td>
            <ul class="horizontal-list">
              <% if current_user.id == question_group.user_id %>
                <% if can_administer? %>
                  <%= link_to "결과 확인", [:results, question_group], :class => 'survey_btn' %>
                <% end %>
              <% else %>
                <%= link_to "설문 참여", new_question_group_answer_group_path(question_group), :class => 'survey_btn' %>
              <% end %>  
            </ul>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
</div>



  

<div class="container">

  <% if user_signed_in? %>
    <div align="right">
      <table>
        <tr> <td>이름 : <%= current_user.username %> </td></tr>
        <tr> <td> 이메일 :  <%= current_user.email %> </td></tr>
        <tr> <td> 포인트 : <%= current_user.point %> </td></tr>
        <tr> <td> 설문 : <%= current_user.postnum %>회 등록  |   
       <%= current_user.submitnum %>회 참여 </td></tr>
      </table>

      <br>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
             내가 등록한 설문 <span class="caret"></span>
          </button>
         <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <% if @my_question_groups.empty? %> 
            <li>설문이 없습니다!</li>
          <% else %>
            <% @my_question_groups.each do |p| %>
              <li><a href="/rapidfire/question_groups/<%= p.id %>/results"><%= p.name %></a> </li>
     	      <% end %>
     	    <% end %>
     		 </ul> 
    </div>
    
    <br>
      <div class="input-group-btn">
     		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
             내가 참여한 설문 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <% @my_answer_groups.each do |p| %>
         	  <% @question_groups.each do |l| %>
         	    <% if l.id == p.question_group_id %>
         	      <li><a href="/rapidfire/question_groups/<%= l.id %>/results"><%= l.name %></a></li>
         	    <% end %>
         	  <% end %>
           <% end %>
     		</ul> 
     	</div>
     		 
  <% end %>
  <hr/>
  

  <table class="table table-condensed table-hover result_table">
   <colgroup>
    <col width="70">
    <col width="200">
    <col width="80">
    <col width="80">
    <col width="80">
   </colgroup>
    <thead>
      <tr class="info">
        <th>글번호</th>
        <th>글제목</th>
        <th>작성자</th>
        <th>작성시간</th>
        <th>응답 및 질문 추가</th>
      </tr>
    </thead>
  <tbody>
      
    <colgroup>
    <col width="70">
    <col width="200">
    <col width="80">
    <col width="80">
    <col width="80">
    </colgroup>

    <% @posts.each do |question_group| %>

    <% if can_administer? %>
      <td><%= question_group.id%></td>
      <td><%= question_group.name%></td>
      <td><%= question_group.writer %></td>
      <td><%= question_group.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d %H:%M") %></td>
      <td>
        <ul class="horizontal-list">
          <% if current_user.id == question_group.user_id %>
            <% if can_administer? %>
            <li><%= link_to "질문 추가", question_group_questions_path(question_group) %></li>
            <li><%= link_to "결과 확인", [:results, question_group] %></li>
            <li><%= link_to "설문 삭제", [question_group], method: :delete %></li>
            <% end %>
          <% else %>
            <%= link_to "설문 응답 하기", new_question_group_answer_group_path(question_group) %>
          </ul>
          <% end %>
      </td>
      
    <% else %>
      <%= question_group.name %>
      
    <% end %>
    
   

    </tbody>
     <% end %>
  </table>
  
  <a href="/rapidfire/question_groups/new" class="btn btn-primary" role="button" style="float: right;">글쓰기</a>
<br><br><br>

<div>
 <nav aria-label="..." class="flickr_pagination">
   <%= will_paginate @posts %>
 </nav>
</div>


<footer class="page-footer" style="opacity: 0.5; margin-top:15px;">
  <div class="container">
    <h6 class="black-text" style="padding-bottom: 20px; font-size:13px; line-height: 1.5em;">
               품앗이    |    멋쟁이 사자처럼 2016 4th Hackathon
        <br>멋쟁이 사자처럼 4기 박정은 소현욱 정여진 정유진<br>
        <br>메일 : <a href="mailto:mail">email</a>

  </div>
    <div class="footer-copyright">
      <div class="container">
        <h6 class="grey-text text-base" style="margin-bottom: 10px; font-size:12px;">
        © 2016 Copyright 품앗이, All rights reserved.</h6>
      </div>
    </div>
  

  <!--자바스크립트-->
  <script>
    $( document ).ready(function(){
       $(".button-collapse").sideNav();
    });

  </script>
</footer>


</div>
</div>

